{% extends '../base.html' %}
{% block title %}About Us | ColorCult{% endblock title %}
{% block content %}
{% load static %}
    <section id="about-top-section">
        <div class="about-banner">
            <img class="img-fluid" src="{% static '/img/about.png' %}">
        </div>
        <div class="company-logo">
        <img class="img-fluid" src="{% static '/img/about-cult.png' %}"></div>
    </section>
    <section id="about-container">
      <div class="about-in">
        <div class="iframe-about">
          <iframe width="785" height="400" src="https://www.youtube.com/embed/s6f1TBJxAUw?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="about-text mb-5">
          <h3>About the cult</h3>
          <div class="desc">
            <p>
              Colour Cult began as an ode to the passion and talent that artists carry in their sketch-books and a perfect outlet to their art that we believe should not remain hidden. Started by a bunch of young enthusiasts, we are not only fond of creativity but are passionate about bringing the best creations to your doorstep.</p>

            <p>
              The founders; Amol Amodkar from IIM Indore and Prateek Jain from IMT Ghaziabad, have designed this inclusive platform where people from any field, who have a knack for art, can contribute! The team includes like-minded individuals from varied professions like architecture and engineering, working dedicatedly to fill your lives with a bit of art with each order placed.</br>
              A typical day for the team comprises of hardcore dedication to bring out the best artworks, generating content at lightning speed and meaningful discussions with constructive criticism. ColorCult is all about premium quality and 100% cotton clothes, meticulously curated by our team.
            </p> 

            <p>
              Are you afraid of stuffing too much in your shopping bag only to witness that awful stare your mom gives you? Yikes! Why not buy one for her as well? Colour Cult provides the same design in many colours and sizes! So, is it time for some #twinning? 
            </p>
          </div>
        </div>
        <div class="about-text">
          <h3>Brand Significance</h3>
          <div class="desc"> 
            <p>
              A cult of like-minded and enthusiastic artists and entrepreneurs, the logo of Color Cult signifies just that. How, do you ask?
            </p>
            <p>
              Just like Color Cult is an innovative way of including artists in their business module, the ‘Cs’ in the logo makes way for the beautiful color splash, representing the artists’ creativity and art. Intertwined together, the Cs lock the color band and make it a part of their own, which is synonymous with the relationship between Color Cult and its artists; better and stronger together.
            </p>
            <p>
              An artist’s journey of creating any artwork is filled with abundant ideas and going back and forth to develop it before ultimately narrowing it down to the final masterpiece. Similarly, the logo of our brand underwent several modifications over time including its color, style, and font. This video is an accurate representation of the evolution of our brand logo and its different stages of development. So, this is the story of our design, what’s yours?
            </p>
          </div>
        </div>
        <div class="iframe-about">
          <iframe width="785" height="400" src="https://www.youtube.com/embed/s6f1TBJxAUw?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
{% endblock %}