{% extends '../base.html' %}
{% block title %}Get Membership | ColorCult{% endblock title %}
{% block content %}
 {% load static %}
    <div class="container">
        <div class="mem-img-wrap">
            <div class="top-banner">
                <img src="{% static '/img/membership-banner.png' %}" class="img-fluid">
            </div>
            <div class="mem-banner">
                <img src="{% static '/img/membership.png' %}" class="img-fluid">
            </div>
        </div>
        <div class="register-now">
            <a href="#">Register Now</a>
        </div>
    </div>
    <section id="your-design"></section>
{% endblock %}