{% extends '../base.html' %}
{% block title %}Register{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="card register-page">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <form method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label>{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6">
                        <label>{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                    </div>
                </div>
                 <div class="number">
                    <label>{{ form.phone_number.label }}</label>
                    {{ form.phone_number }}
                </div>
                <div class="email">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="username">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="gender">
                    <label>{{ form.gender.label }}</label>
                    {{ form.gender }}
                </div>
                <div class="pass1">
                    <label>{{ form.password1.label }}</label>
                    {{ form.password1 }}
                    {{ form.password1.help_text }}
                </div>
                <div class="pass2">
                    <label>{{ form.password2.label }}</label>
                    {{ form.password2 }}
                </div>
                <div class="creator">
                    <label>{{ form.is_creator.label }}</label>
                    {{ form.is_creator }}
                </div>
                 <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn register-button">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %} 